<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
    <listener class-name="reports.ExtentTestNGListener"/>
    </listeners>
    <test thread-count="5" name = "Test">
        <classes>
            <class name="tests.AccountHomePageTests">
                <methods>
                    <include name="verifyOptionsOnLeftNavigationPane"/>
                    <include name="verifyTabsUnderHomeOption"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>